@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-color: #0F1624;
  display: flex;
  flex-direction: column;
}

/*------------------Top Header----------------------*/
header {
  height: 20vh;
}
.top-nav {
  position: relative;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: baseline;
  padding-top: 46px;
  font-weight: 500;
  font-size: 20px;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (max-width: 768px) {
  header {
    display: none;
  }
}

.top-nav__title {
  font-weight: inherit;
  text-align: center;
  user-select: none;
  font-size: 2vw;
  align-self: start;
  position: relative;
  top: -20px;
}

.top-nav ul {
  display: flex;
  justify-content: center;
}

.top-nav__page {
  gap: 60px;
}


.top-nav li {
  position: relative;
}

.top-nav__page a::after {
  position: absolute;
  content: '';
  width: 0;
  height: 5px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  bottom: -10px;
  left: 0;
  transition: all 0.2s;
  border-radius: 10px;
}

.top-nav__page a:hover::after {
  width: 100%;
} 

@media screen and (hover:none) {
  .top-nav__page a:hover::after {
    width: 0;
  }
}
.top-nav__social-media {
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 2px;
}

.top-nav__social-media li {
  margin: 10px;
}
.top-nav__social-media a {
  transition: font-size 0.3s;
}
.top-nav__social-media a:hover {
  color: #13ADC7;
  font-size: 30px;
}

/*-------------------introduction--------------------*/

.main {
    flex-grow: 1;
}
.main__section {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
}


.introduction {
  height: 80vh;
}

.introduction h1{
  margin-bottom: 32px;
}

.introduction p {
  width: 50%;
  margin: 0 0 73px 20px;
  color: #BCBCBC;
}

.introduction .button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
  width: 150px;
  height: 50px;
}

.button-link {
  color: #fff;
  border-radius: 83px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  transition: transform 0.3s;
}

.button-link:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {

  .introduction {
    height: 100vh;
  }

  .introduction p {
    width: 90%;
  }
}
/*------------------------Projects----------------*/

.projects h1  {
  margin-bottom: 93px;
}

.projects__list {
  display: grid;
  gap: 30px 25px;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1100px) {
  .projects__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .projects__list {
    grid-template-columns: 1fr;
  }

}

.projects__list-item {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 15px 0 15px 0;
  border: 1px solid #fff;
  box-shadow: 1px 1px 3px #ffffff9c;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.projects__list-item h2 {
  font-size: 20px;
  font-weight: 400;
}
.projects__list-item img {
  max-width: 300px;
  margin-top: 25px;
  border-radius: 8px;
}
.projects__technologies  {
  width: 100%;
  font-size: 50px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.fa-html5 {
  color: #e34c26;
}

.fa-css3-alt {
  color: #264de4;
}

.fa-js {
  color: #F0DB4F;
}
.projects__links {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.projects__list-item .button-link {
  font-size: 14px;
  padding: 10px ;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-------------Technologies-------------------------*/
.technologies h1 {
  margin-bottom: 50px;
}

.technologies__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .technologies__list {
    grid-template-columns: 1fr;
  }
}
.technologies__list--advanced .slider-foreground {
  width: 100%;
}

.technologies__list--intermediate .slider-foreground {
  width: 70%;
}

.technologies__label {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.technologies__label h2 {
  font-weight: 500;
  font-size: 20px;
}

.slider-background {
  position: relative;
  width: 100%;
  height: 15px;
  background: #162950;
  border-radius: 83px;
}

.slider-foreground {
  position: absolute;
  height: 100%;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  border-radius: 83px;
}





/*-------------------About Me--------------------*/
#about-me {
  margin-top: 70px;
  background-color: #e9e9e9;
  height: 300px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 30px;
}

.profile {
  background-color: #d1d1d198;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 50px;
  box-shadow: 1px 1px 100px #00000042;
}

#about-me img{
  width: 100px;
  border-radius: 50%;
}
