@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-color: #0F1624;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

/*------------------Top Header----------------------*/
header {
  height: 20vh;
}
.top-nav {
  position: relative;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: baseline;
  padding-top: 46px;
  font-weight: 500;
  font-size: 20px;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
}

.top-nav__title {
  font-weight: inherit;
  text-align: center;
  user-select: none;
}

.top-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.top-nav__page {
  gap: 98px;
}


.top-nav li {
  position: relative;
}

.top-nav__page a::after {
  position: absolute;
  content: '';
  width: 0;
  height: 5px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  bottom: -10px;
  left: 0;
  transition: all 0.2s;
  border-radius: 10px;
}

.top-nav__page a:hover::after {
  width: 100%;
} 

.top-nav__social-media {
  align-self: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 2px;
}

.top-nav__social-media li {
  margin: 10px;
}
.top-nav__social-media a {
  transition: font-size 0.3s;
}
.top-nav__social-media a:hover {
  color: #13ADC7;
  font-size: 30px;
}

/*-------------------introduction--------------------*/
.main__section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
}

.introduction {
  height: 80vh;
}

.introduction h1{
  margin-bottom: 32px;
}

.introduction p {
  width: 50%;
  margin: 0 0 73px 20px;
  color: #BCBCBC;
}

.introduction .button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
  width: 150px;
  height: 50px;
}

.button-link {
  color: #fff;
  border-radius: 83px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  transition: transform 0.3s;
}

.button-link:hover {
  transform: scale(1.1);
}

/*------------------------Projects----------------*/

.projects h1  {
  margin-bottom: 93px;
}

.projects__list {
  display: grid;
  gap: 30px 0px;
  grid-template-columns: repeat(3, 1fr);
}

.projects__list-item {
  box-sizing: border-box;
  width: 350px;
  height: 350px;
  border-radius: 15px 0 15px 0;
  box-shadow: 2px 2px 5px #E5E5E5,
              -2px 2px 5px #E5E5E5,
              2px -2px 5px #E5E5E5,
              -2px -2px 5px #E5E5E5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.projects__list-item h2 {
  font-size: 20px;
  font-weight: 400;
}
.projects__list-item img {
  max-width: 300px;
  margin-top: 25px;
  border-radius: 8px;
}
.projects__technologies  {
  width: 100%;
  font-size: 50px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.fa-html5 {
  color: #e34c26;
}

.fa-css3-alt {
  color: #264de4;
}

.fa-js {
  color: #F0DB4F;
}
.projects__links {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.projects__list-item .button-link {
  font-size: 14px;
  padding: 10px ;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-------------Technologies-------------------------*/
.technologies h1 {
  margin-bottom: 50px;
}

.technologies__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 40%;
}

.technologies__list--advanced .slider-foreground {
  width: 100%;
}

.technologies__list--intermediate .slider-foreground {
  width: 70%;
}

.technologies__label {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.technologies__label h2 {
  font-weight: 500;
  font-size: 20px;
}

.slider-background {
  position: relative;
  width: 100%;
  height: 15px;
  background: #162950;
  border-radius: 83px;
}

.slider-foreground {
  position: absolute;
  height: 100%;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  border-radius: 83px;
}



/*-------------------About Me--------------------*/
#about-me {
  margin-top: 70px;
  background-color: #fff;
  height: 300px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 30px;
}
