@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-color: #0F1624;
  width: 100vw;
}

/*------------------Top Header----------------------*/
header {
  height: 20vh;
}
.top-nav {
  position: relative;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: baseline;
  padding-top: 46px;
  font-weight: 500;
  font-size: 30px;
  height: 100%;
  box-sizing: border-box;
}

.top-nav__title {
  font-weight: inherit;
  text-align: center;
}

.top-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.top-nav__page {
  gap: 98px;
}

.top-nav__social-media {
  gap: 29px;
}

/*-------------------introduction--------------------*/
.main-section__1 {
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
}

.introduction h1{
  margin-bottom: 32px;
}

.introduction p {
  width: 50%;
  margin: 0 0 73px 20px;
  color: #BCBCBC;
}

.introduction button {
  margin-left: 60px;
  width: 280px;
  height: 80px;
}

.button-link {
  color: #fff;
  border-radius: 83px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
}

/*------------------------Projects----------------*/
.main-section__2 {
  height: 100vh;
}

.projects {
  width: 80%;
  margin: 0 auto;
}
.projects h1  {
  margin-bottom: 93px;
}

.projects ul {
  display: grid;
  gap: 97px 220px;
  grid-template-columns: 1fr 1fr;
}

.projects__list-item {
  box-sizing: border-box;
  width: 550px;
  height: 700px;
  border-radius: 15px 0 15px 0;
  box-shadow: 2px 2px 5px #E5E5E5,
              -2px 2px 5px #E5E5E5,
              2px -2px 5px #E5E5E5,
              -2px -2px 5px #E5E5E5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.projects__list-item h2 {
  font-size: 36px;
}
.projects__list-item img {
  margin-top: 25px;
  border-radius: 8px;
}
.projects__list-item p {
  width: 500px;
  font-size: 28px;
}

.projects__list-item .button-link {
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}