.about-me {
  margin-top: 70px;
  background-color: #e9e9e9;
  height: 300px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 30px;

  &__card {
    position: relative;
    box-shadow: 1px 1px 50px #00000042;
    padding: 12px;
    background-color: #d1d1d198;
  }
  
  img{
    width: 100px;
    border-radius: 50%;
  }
}
  


@mixin cardSides() {
  position:absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
} 
.profile {
  position: relative;
  border-radius: 10px;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: transform 1s;
  width: 300px;
  height: 120px ;

  &__front {
    @include cardSides();
  }

  &__back {
    @include cardSides();
    transform: rotateY(180deg);
  }

}

@media screen and (min-width: 768px) {
  .profile {
    width: 500px;
    height: 200px;
  }
}

.flipCard  {
  transform: rotateY(180deg);
  
}

.flip-card-btn {
  position: absolute;
  right: 2%;
  bottom: 2%;
  font-size: 30px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgb(55, 255, 55);
  border: none;
  color: #ffffff;
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  animation: button-bounce 1.2s ease-in-out infinite alternate;

  &:hover {
    background-color: #1ff59f;
  }

}

@media screen and (max-width: 768px) {
  .about-me {
    font-size: 13px;
  }
}

@keyframes button-bounce {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

