@use '../../_variables';

header {
  height: 20vh;
}

.menu-btn {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: #fff;
  z-index: 2;
  background: variables.$gradient;
  border: none;
  border-radius: 0 0px 5px 0;

}

.top-nav {
  position: fixed;
  z-index: 2;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: baseline;
  padding-top: 46px;
  font-weight: 500;
  font-size: 20px;
  box-sizing: border-box;
  width: 100%;
  background-color: variables.$secondary-color;

  &__title {
    font-weight: inherit;
    text-align: center;
    user-select: none;
    font-size: 2vw;
    align-self: start;
    position: relative;
    top: -20px;
  }

  ul {
    display: flex;
    justify-content: center;
  }

  li {
    position: relative;
  }

  &__page {
    gap: 60px;

     a {
      &::after {
        position: absolute;
        content: '';
        width: 0;
        height: 5px;
        background: variables.$gradient;
        bottom: -10px;
        left: 0;
        transition: all 0.5s;
        border-radius: 10px;
      }

      &:hover {
        &::after {
          width: 100%;
        }

      } 


    }     

    
  }

  
  &__social-media {
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 2px;

    li {
      margin: 10px;
    }

    a {
      font-size: 25px;
      display: block;
      transition: transform 0.3s;
      
      &:hover {
        color: #13ADC7;
        transform: scale(1.5);
      }
      
    }
  }


}











@media screen and (hover:none) {
  .top-nav__page a:hover::after {
    width: 0;
  }

  .top-nav__social-media a:hover {
    color: inherit;
    font-size: inherit;
  }
}


@media screen and (max-width: 1110px) {
  header {
    height: 0vh;
  }
  .menu-btn {
    display: block;
  }


  .top-nav {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #fff;
    color: #0F1624;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    transform: translateX(-100vw);
    transition: transform 0.3s;

    &__title {
      font-weight: inherit;
      text-align: center;
      user-select: none;
      font-size: 18px;
      align-self: center;
      position: relative;
    }

    &__page {
      flex-grow: 1;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }

    &__social-media {
      height: fit-content;
      gap: 30px;
      transform: scale(1.5);
      padding-bottom: 50px;
    }
  
  }

  
  .hide {
    transform: translate(-100vw);
  }
  
  .show {
    transform: translate(0);
  }

}

.fa-brands {
  font-size:30px;
}

