header {
  height: 20vh;
}

.menu-btn {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: #fff;
  z-index: 2;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  border: none;
  border-radius: 0 0px 5px 0;

}

.top-nav {
  position: fixed;
  z-index: 2;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: baseline;
  padding-top: 46px;
  font-weight: 500;
  font-size: 20px;
  box-sizing: border-box;
  width: 100%;
  background-color: #0f1624;
  
}



.top-nav__title {
  font-weight: inherit;
  text-align: center;
  user-select: none;
  font-size: 2vw;
  align-self: start;
  position: relative;
  top: -20px;
}

.top-nav ul {
  display: flex;
  justify-content: center;
}

.top-nav__page {
  gap: 60px;
}


.top-nav li {
  position: relative;
}

.top-nav__page a::after {
  position: absolute;
  content: '';
  width: 0;
  height: 5px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  bottom: -10px;
  left: 0;
  transition: all 0.5s;
  border-radius: 10px;
}

.top-nav__page a:hover::after {
  width: 100%;
} 

.top-nav__social-media {
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 2px;
}

.top-nav__social-media li {
  margin: 10px;
}
.top-nav__social-media a {
  font-size: 25px;
  display: block;
  transition: transform 0.3s;
}
.top-nav__social-media a:hover {
  color: #13ADC7;
  transform: scale(1.5);
}

@media screen and (hover:none) {
  .top-nav__page a:hover::after {
    width: 0;
  }

  .top-nav__social-media a:hover {
    color: inherit;
    font-size: inherit;
  }
}


@media screen and (max-width: 1110px) {
  header {
    height: 0vh;
  }
  .menu-btn {
    display: block;
  }


  .top-nav {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #fff;
    color: #0F1624;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    transform: translateX(-100vw);
    transition: transform 0.3s;
  }

  .top-nav__title {
    font-weight: inherit;
    text-align: center;
    user-select: none;
    font-size: 18px;
    align-self: center;
    position: relative;
  }
  .top-nav__page {
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
  .top-nav__social-media {
    height: fit-content;
    gap: 30px;
    transform: scale(1.5);
    padding-bottom: 50px;
  }

  .hide {
    transform: translate(-100vw);
  }
  
  .show {
    transform: translate(0);
  }

}

.fa-brands {
  font-size:30px;
}

