.projects__technologies  {
  width: 100%;
  display: grid;
  grid-auto-columns: 27%;
  grid-auto-flow: column;
  overflow-x: auto;
  height: min-content;
  padding: 20px;
  
}

.fa-html5 {
  color: #e34c26;
  font-size:50px;

}

.fa-css3-alt {
  color: #264de4;
  font-size:50px;

}

.fa-js {
  color: #F0DB4F;
  font-size:50px;
}

.fa-react {
  color: #00d8ff;
  font-size:50px;
}
.typescript {
  background-color: #007acc;
  color: #fff;
  font-size: 30px;
  display: flex;
  min-width: fit-content;
  width: 60%;
  height: 50px;
  justify-content: end;
  align-items: end;
  padding-right: 5px;

  &::after {
    content: 'TS';
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 540;
    padding: 2px;
  }
  
}


