.main {
  flex-grow: 1;
}
.main__section {
display: flex;
flex-direction: column;
padding-top: 100px;
width: 80%;
margin: 0 auto;
position: relative;
}


.introduction {
height: 80vh;
}

.introduction h1{
margin-bottom: 32px;
}

.introduction p {
width: 50%;
margin: 0 0 73px 20px;
color: #BCBCBC;
}

.introduction .button-link {
display: flex;
justify-content: center;
align-items: center;
margin-left: 60px;
width: 150px;
height: 50px;
}

.button-link {
color: #fff;
border-radius: 83px;
background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
transition: transform 0.3s;
}

.button-link:hover {
transform: scale(1.1);
}

.introduction__logo{
  position: absolute;
  width: 200px;
  height: auto;
  right: 50px;
  opacity: 0.9;
  transition: opacity 0.3s;
  animation: logoSpin 3s linear infinite alternate;
}

.introduction__logo:hover {
  opacity: 1;
}

@keyframes logoSpin {
  from {
    transform: rotate(-20deg);
  } 

  to {
    transform: rotate(20deg);
  }
}

@media screen and (max-width: 1110px) {

.introduction {
  height: 100vh;
}

.introduction p {
  width: 90%;
}

.introduction__logo {
  display: none;
}
}

@media screen and (hover:none) {
.button-link:hover {
  transform: scale(1);
}
}

/*-------------Technologies-------------------------*/
.technologies h1 {
margin-bottom: 50px;
}

.technologies__list {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 15px;
width: 100%;
}

@media screen and (max-width: 768px) {
.technologies__list {
  grid-template-columns: 1fr;
}
}
.technologies__list--advanced .slider-foreground {
width: 100%;
}

.technologies__list--intermediate .slider-foreground {
width: 70%;
}

.technologies__label {
display: flex;
justify-content: space-between;
width: 90%;
margin: 0 auto;
}

.technologies__label h2 {
font-weight: 500;
font-size: 20px;
}

.slider-background {
position: relative;
width: 100%;
height: 15px;
background: #162950;
border-radius: 83px;
}

.slider-foreground {
position: absolute;
height: 100%;
background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
border-radius: 83px;
}